@import url("https://fonts.googleapis.com/css?family=Rubik:400,500");

body {
	margin: 0;
	background-color: #fff;
	font-family: 'Rubik', sans-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.container p {
	margin-top: 50px;
	padding: 10px;
	font-size: 22px;
}
